<div class="container_big-card">
    <div class="big-card_photo">
        <img src="../../../assets/images/mascara-e-confete-no-chao.jpg" 
        alt=""
        width="400"
        >

    </div>
    <div class="big-card_title">
        <h1><a href="#">Quando começaram os defiles de carnaval?</a></h1>

    </div>
    <div class="big-car_description">
        <p><a href="#">
            Todos os anos acontecem nas capitais de São Paulo e do Rio de Janeiro os desfiles 
            das escolas de samba. Os eventos, que são televisionados, trazem ao Sambódromo da Marquês de Sapucaí e ao Sambódromo do Anhembi. 
            Mas você sabe quando isso começou?
        </a></p>
    </div>
</div>
