.container_small-card{
    /*border: 1px solid white ;*/
    border-bottom: 1px solid #adff2f; ;
    width: 80%;

    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 10%;
}

.small-card_photo > img {
    width: 200px;
    min-width: 200px;
    margin: 20px;
}

.small-card_title{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;

}

.small-card_title > h1 > a {
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}