

<app-menu-title></app-menu-title>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        photoCover="../../../assets/images/mascara-e-confete-no-chao.jpg"
        cardTitle="Carnaval no Rio é o mas cheio em anos"
        cardDescription="Todos os anos acontecem nas capitais de São Paulo e do Rio de Janeiro os desfiles das escolas de samba. Os eventos, que são televisionados, trazem ao Sambódromo da Marquês de Sapucaí e ao Sambódromo do Anhembi."
        ></app-big-card>
    </div>
    
    <div class="articles_others">
        <app-small-card
        cardTitle="Canaval com muita alegria e festividade"
        photoCover="https://img.freepik.com/fotos-gratis/mulher-jovem-e-bonita-no-carnaval-elegante-traje-de-mascaras-com-penas-dancando-no-fundo-gradiente-em-neon_155003-32493.jpg?w=1060&t=st=1677124688~exp=1677125288~hmac=57c64e13dcc30a2a7451ee2d22666c9073d330d1512b05dd80056f67e821e920"
        ></app-small-card>
        <app-small-card
        cardTitle="Mascaras voltam a ser utilizadas para as festas carnavalescas"
        photoCover="https://img.freepik.com/fotos-premium/mulher-bonita-vestida-para-a-noite-de-carnaval-mulher-afro-com-maquiagem-de-carnaval_432566-1899.jpg?w=1060"
        >
        
    </app-small-card>
    <app-small-card
    cardTitle="Seja na sala de estar, na garagem ou no jardim: o importante é ter espaço para as danças e brincadeiras de carnaval com as crianças! "
    photoCover="../../../assets/images/menina-com-confete-e-fantasia-de-palhaco.jpg"
    ></app-small-card>
    
    <app-small-card
        cardTitle="Festeiros lotam as ruas. Carnaval de rua tem mais  adesão pela população esse ano!!"
        photoCover="https://img.freepik.com/fotos-gratis/retrato-de-pessoa-se-divertindo-no-carnaval_23-2149191651.jpg?w=1060&t=st=1677124567~exp=1677125167~hmac=a9e9d1d7a2806c855c8860c3afba6c14c34636cee9711676b3b42baeb1f9e42e"
    ></app-small-card>
</div>
</div>

<h1>Desfiles desse ano</h1>
<hr>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        photoCover="../../../assets/images/e-a-melhor-festa-de-todas.jpg"
        cardTitle="Carnaval no Rio é o mas cheio em anos"
        cardDescription="Todos os anos acontecem nas capitais de São Paulo e do Rio de Janeiro os desfiles das escolas de samba. Os eventos, que são televisionados, trazem ao Sambódromo da Marquês de Sapucaí e ao Sambódromo do Anhembi."
        ></app-big-card>
    </div>
    
    <div class="articles_others">
        
        <app-small-card
            cardTitle="Mocidade Alegre é a grande vencedora do Carnaval 2023 de São Paulo. A escola de samba garantiu a nota máxima, 270 pontos, na apuração que aconteceu nesta terça-feira, no Sambódromo do Anhem"
            photoCover="https://img.band.uol.com.br/image/2023/02/21/mocidade-alegre-venceu-o-carnaval-2023-de-sao-paulo-com-enredo-yasuke-1774_800x450.webp"
            ></app-small-card>
        
        
        <app-small-card
            cardTitle="Comissão de frente foi o destaque do primeiro dia de desfiles. Escola se destaca visualmente pelo forte tom de azul escolhido pela agremiação. O tom é usado no abre-alas também. As luzes se apagam para que o carro brilhe."
            photoCover="https://jpimg.com.br/uploads/2023/02/agf20230220081-1080x720.jpg"
        ></app-small-card>
        
        <app-small-card
            cardTitle="O destaque também foi para Thelma Assis, que veio como Musa da Mocidade Alegre e foi a grande vencedora do BBB 20, além de que comemorou 18 anos sambando no Carnaval."
            photoCover="https://hitsite.com.br/wp-content/uploads/2023/02/ex-bbb-thelminha-5-1094x730.jpg"
        ></app-small-card>
        <app-small-card></app-small-card>
        
    </div>
</div>